<template>
  <!-- CONTENT HEADER -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Projects</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active">Add New Project</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <div class="container-fluid">
    <div class="card card-info">
      <div class="card-header text-bold" ref="submitTop">Add New Project</div>

      <!-- BODY -->
      <div class="card-body">
        <div class="row">
          <!-- INPUT FORM -->
          <div class="col-md-6">
            <label>Name</label>
            <input
              type="text"
              class="form-control"
              v-model="inputName"
              placeholder="Airdrop Name"
            />
            <!-- err name -->
            <span class="has-error text-danger" v-if="errmsg.name">
              <small>{{ errmsg.name[0] }}</small>
            </span>
          </div>

          <div class="col-md-6">
            <label>Distribution Date</label>
            <div class="input-group" id="datef">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-calendar-alt"></i>
                </span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="DD-MM-YY"
                id="datePicker"
                data-toggle="datepicker"
                v-model="inputDate"
                readonly
              />
            </div>
            <span class="has-error text-danger" v-if="errmsg.distribution_date">
              <small>{{ errmsg.distribution_date[0] }}</small>
            </span>
          </div>

          <div class="col-md-6">
            <label for>Description</label>
            <textarea
              rows="2"
              class="form-control"
              id="description"
              v-model="inputDesc"
              placeholder="Description"
            ></textarea>

            <span class="has-error text-danger" v-if="errmsg.description">
              <small>{{ errmsg.description[0] }}</small>
            </span>
          </div>

          <div class="col-md-6">
            <label for id>Add Link</label>
            <div class="row mb-1" v-for="input in ulink" :key="input.id">
              <div class="col-5">
                <select name id class="form-control" v-model="input.social">
                  <option
                    :value="link.value"
                    v-for="(link, index) in getlink"
                    :key="'link' + index"
                  >
                    {{ link.text }}
                  </option>
                </select>
              </div>
              <div class="col-7">
                <input
                  type="text"
                  class="form-control"
                  v-model="input.value"
                  :placeholder="getpUrl(input.social)"
                />
              </div>
            </div>

            <a style="cursor: pointer" class="text-info" @click="addUrl">
              <small>+ More Link</small>
            </a>
          </div>
        </div>

        <label for>Rate</label>
        <br />
        <div class="row justify-content-between">
          <span class="text-danger text-bold col">
            <small>Bad</small>
          </span>
          <span class="text-yellow text-center col">
            <small>{{ inputRate }}</small>
          </span>
          <span class="text-success text-right text-bold col">
            <small>Good</small>
          </span>
        </div>
        <input
          type="range"
          class="custom-range custom-range-warning"
          id="customRange1"
          max="100"
          v-model="inputRate"
        />
      </div>

      <!-- CARD FOOTER -->
      <div class="card-footer">
        <a class="btn btn-default" :href="toBack">&laquo; Back</a>
        <input
          type="button"
          class="btn btn-info float-right"
          @click="sendData(inputDate)"
          value="Add New Project"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  data() {
    return {
      /* DEFAULT INPUT */
      inputName: null,
      inputDate: null,
      inputDesc: null,
      inputRate: 100,
      datatest: null,
      errmsg: false,

      toBack: siteurl + "/data",
      counter: 0,
      ulink: [
        {
          id: 0,
          social: "telegram",
          value: "",
        },
      ],
      defmodel: 1,
      getlink: [
        {
          id: 0,
          value: "telegram",
          text: "Telegram",
          placeholder: "Telegram username without '@'",
        },
        {
          id: 1,
          value: "twitter",
          text: "Twitter",
          placeholder: "Twitter username without '@'",
        },
        {
          id: 2,
          value: "medium",
          text: "Medium",
          placeholder: "Medium username (username.medium.com)",
        },
        {
          id: 3,
          value: "discord",
          text: "Discord",
          placeholder: "Enter Discord Link",
        },
        {
          id: 4,
          value: "url",
          text: "URL",
          placeholder: "https://www.example.com",
        },
      ],
    };
  },

  setup() {
    let airdrop = ref([]);

    return {
      airdrop,
    };
  },

  async mounted() {
    $(function () {
      $("#datePicker", this.$el).datepicker({
        autoPick: true,
        format: "dd-mm-yyyy",
        trigger: "#datePicker",
      });
    });
    let self = this;
    let datepick = $("#datePicker");
    /* ENTER DATEPICKER */
    datepick.on("input", function () {
      self.inputDate = datepick.val();
    });
    return {
      self,
    };
  },

  methods: {
    addUrl() {
      if (++this.counter <= 5) {
        this.ulink.push({
          id: 0,
          social: "telegram",
          value: "",
        });
      }
    },

    getpUrl(id) {
      return this.getlink.find((opt) => opt.value == id).placeholder;
    },

    sendData(input) {
      this.errmsg = false;

      const datago = {
        name: this.inputName,
        description: this.inputDesc,
        rate: this.inputRate,
        distribution_date: this.inputDate,
        link: JSON.stringify(this.ulink),
      };
      axios
        .post(siteurl + "/api/create", datago)
        .then((e) => {
          Swal.fire({
            title: "Success!",
            icon: "success",
            html: "New project has been added to database!",
            // confirmButtonText: "OK",
          });
          this.datatest = e.data;
        })
        .catch((e) => {
          this.errmsg = e.response.data.errors;
          console.log(e.response.data);
        });
      //scroller
      const scroolls = this.$refs.submitTop;
      const top = scroolls.offsetTop;
      window.scrollTo(0, top);
    },
  },
};
</script>
