<template>
  <!-- CONTENT HEADER -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Projects</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active">Edit Project</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <div class="container-fluid">
    <div class="card card-info">
      <div class="card-header text-bold" ref="submitTop">Edit Projects</div>

      <!-- BODY -->
      <div class="card-body">
        <div class="row">
          <!-- INPUT FORM -->
          <div class="col-md-6">
            <label>Name</label>
            <input
              type="text"
              class="form-control"
              v-model="inputVal.name"
              placeholder="Airdrop Name"
            />
            <!-- err name -->
            <span class="has-error text-danger" v-if="errmsg.name">
              <small>{{ errmsg.name[0] }}</small>
            </span>
          </div>

          <div class="col-md-6">
            <label>Distribution Date</label>
            <div class="input-group" id="datef">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-calendar-alt"></i>
                </span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="DD-MM-YY"
                id="datePicker"
                data-toggle="datepicker"
                v-model="inputDate"
                readonly
              />
            </div>
            <span class="has-error text-danger" v-if="errmsg.distribution_date">
              <small>{{ errmsg.distribution_date[0] }}</small>
            </span>
          </div>

          <div class="col-md-6">
            <label for>Description</label>
            <textarea
              rows="2"
              class="form-control"
              id="description"
              v-model="inputVal.description"
              placeholder="Description"
            ></textarea>

            <span class="has-error text-danger" v-if="errmsg.description">
              <small>{{ errmsg.description[0] }}</small>
            </span>
          </div>

          <div class="col-md-6">
            <label for id>Add Link</label>
            <div class="row mb-1" v-for="input in ulink" :key="input.id">
              <div class="col-5">
                <select name id class="form-control" v-model="input.social">
                  <option
                    :value="link.value"
                    v-for="(link, index) in getlink"
                    :key="'link' + index"
                  >
                    {{ link.text }}
                  </option>
                </select>
              </div>
              <div class="col-7">
                <input
                  type="text"
                  class="form-control"
                  v-model="input.value"
                  :placeholder="getpUrl(input.social)"
                />
              </div>
            </div>
            <div>
              <a
                style="cursor: pointer"
                class="text-info"
                @click="removeUrl"
                v-if="removeOne"
              >
                <small>- Remove One</small>
              </a>
            </div>
            <a style="cursor: pointer" class="text-info" @click="addUrl">
              <small>+ More Link</small>
            </a>
          </div>
        </div>

        <label for>Rate</label>
        <br />
        <div class="row justify-content-between">
          <span class="text-danger text-bold col">
            <small>Bad</small>
          </span>
          <span class="text-yellow text-center col">
            <small>{{ inputVal.rate }}</small>
          </span>
          <span class="text-success text-right text-bold col">
            <small>Good</small>
          </span>
        </div>
        <input
          type="range"
          class="custom-range custom-range-warning"
          id="customRange1"
          max="100"
          v-model="inputVal.rate"
        />
      </div>

      <!-- CARD FOOTER -->
      <div class="card-footer">
        <a class="btn btn-default" @click="backShow()">&laquo; Back</a>
        <input
          type="button"
          class="btn btn-info float-right"
          @click="sendData(inputDate)"
          value="Save Changes"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  name: "Edit",
  props: ["getID"],
  data() {
    return {
      /* DEFAULT INPUT */
      inputDate: null,
      openRemove: false,
      errmsg: false,

      toBack: siteurl + "/data",
      counter: 0,
      ulink: [
        {
          id: 0,
          social: "telegram",
          value: "",
        },
      ],
      defmodel: 1,
      getlink: [
        {
          id: 0,
          value: "telegram",
          text: "Telegram",
          placeholder: "Telegram username without '@'",
        },
        {
          id: 1,
          value: "twitter",
          text: "Twitter",
          placeholder: "Twitter username without '@'",
        },
        {
          id: 2,
          value: "medium",
          text: "Medium",
          placeholder: "Medium username (username.medium.com)",
        },
        {
          id: 3,
          value: "discord",
          text: "Discord",
          placeholder: "Enter Discord Link",
        },
        {
          id: 4,
          value: "url",
          text: "URL",
          placeholder: "https://www.example.com",
        },
      ],
      inputVal: [],
      removeOne: false,
    };
  },
  emits: ["toback"],
  created() {
    axios.get(siteurl + "/api/show/" + this.getID).then((r) => {
      this.inputVal = r.data.data;
      this.inputDate = this.inputVal.update.distribution;
      this.ulink = JSON.parse(this.inputVal.links);
      this.ulink.length > 1 ? (this.removeOne = true) : "";
    });
  },
  async mounted() {
    $(function () {
      $("#datePicker", this.$el).datepicker({
        autoPick: true,
        format: "dd-mm-yyyy",
        trigger: "#datePicker",
      });
    });
    let self = this;
    let datepick = $("#datePicker");
    /* ENTER DATEPICKER */
    datepick.on("input", function () {
      self.inputDate = datepick.val();
    });
    return {
      self,
    };
  },

  methods: {
    addUrl() {
      if (this.ulink.length <= 5) {
        this.ulink.push({
          id: 0,
          social: "telegram",
          value: "",
        });
        this.removeOne = true;
      }
    },
    removeUrl() {
      let length = this.ulink.length;
      console.log(length);
      this.ulink.splice(length - 1, 1);
      length == 2 ? (this.removeOne = false) : "";
    },

    getpUrl(id) {
      return this.getlink.find((opt) => opt.value == id).placeholder;
    },

    sendData(input) {
      this.errmsg = false;

      const datago = {
        name: this.inputVal.name,
        description: this.inputVal.description,
        rate: this.inputVal.rate,
        distribution_date: this.inputDate,
        link: JSON.stringify(this.ulink),
      };
      axios
        .post(siteurl + "/api/update/" + this.getID, datago)
        .then((res) => {
          Swal.fire({
            toast: true,
            showConfirmButton: false,
            position: "top-end",
            timer: 2000,
            icon: "success",
            title: "New changes has been saved!",
          });
          this.datatest = res.data;
          this.$emit("toback", "ok");
        })
        .catch((e) => {
          try {
            this.errmsg = e.response.data.errors;
          } catch {}
          console.log(e);

          //scroller
          const scroolls = this.$refs.submitTop;
          const top = scroolls.offsetTop;
          window.scrollTo(0, top);
        });
    },
    backShow() {
      try {
        this.$emit("toback", "ok");
      } catch {}
    },
  },
};
</script>
