<template>
  <div id="app">
    <div v-for="input in options" :key="input.id">
      <select :value="input.value">
        <option value="foo">Foo</option>
        <option value="bar">Bar</option>
        <option value="foobar">FooBar</option>
      </select>
      <input type="text" :placeholder="input.placeholder" />
      ID : {{ input.id }}
      <br />
    </div>

    <!-- add button -->
    <button @click="addNew">New</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      counter: 0,
      options: [
        {
          id: 0,
          value: "foo",
          placeholder: "foo",
        },
      ],
    };
  },
  methods: {
    addNew() {
      this.options.push({
        id: ++this.counter,
        value: "bar",
        placeholder: "bar",
      });
    },
  },
};
</script>
