  <template>
  <!-- CONTENT HEADER -->
  <section class="content-header" v-if="!openModal">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Projects</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active">Projects</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- SUB HEADER -->
  <div class="container-fluid mb-2" v-if="!openModal">
    <div class="row">
      <div class="col-5 col-md-3">
        <router-link
          :to="{ name: 'create' }"
          tag="button"
          class="btn btn-block btn-info"
        >
          <i class="fas fa-plus-square"></i> New
        </router-link>
      </div>
      <div class="d-none d-md-block col-md-3"></div>
      <div class="col-7 col-md-6 float-right">
        <div class="input-group">
          <input
            type="text"
            name="table_search"
            class="form-control"
            placeholder="Search"
            v-model="Search"
            @keyup="makeSearch(Search)"
          />

          <div class="input-group-append">
            <button
              type="submit"
              class="btn btn-default"
              @click="clickSearch(Search)"
            >
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" ref="submitTop" v-if="!openModal">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div v-show="isLoading" class="overlay card-body">
            <div class="fas fa-spinner fa-pulse fa-2x"></div>
          </div>
          <div class="overlay" v-if="overlay"></div>

          <div v-show="isLoading" class="m-4 text-center card-header"></div>
          <!-- CARD BODY -->

          <table
            v-show="!isLoading"
            class="table card-header table-bordered table-responsive-stack"
          >
            <thead class>
              <tr>
                <th style="width: 40px">ID</th>
                <th class="d-block d-md-none">Details</th>

                <!-- DESKTOP -->
                <th style="width: 240px" class="d-none d-md-table-cell">
                  Name
                </th>
                <th class="d-none d-md-table-cell" style="width: 165px">
                  Created
                </th>
                <th class="d-none d-md-table-cell" style="width: 165px">
                  Distribution
                </th>
                <th class="d-none d-md-table-cell" style="width: 80px">
                  Status
                </th>
                <th class="d-none d-md-table-cell">Rate</th>
              </tr>
            </thead>

            <tbody class="card-body">
              <tr v-for="id in posts" :key="id">
                <td style="width: 20px">{{ id.id }}</td>

                <!-- DESKTOP -->
                <td @click.prevent="showLink(id.id)" style="cursor: pointer">
                  <span class="text-bold mr-2" :class="'text-' + id.div_rate">{{
                    id.name
                  }}</span>
                  <span class="badge d-md-none" :class="id.coloractive">
                    {{ id.activetext }}
                  </span>
                  <div class="d-md-none">
                    <i class="far fa-calendar-plus mr-1"></i>
                    {{ id.mod_date.created_at }}
                    <br />
                    <i class="far fa-calendar-alt mr-1"></i>
                    {{ id.mod_date.distribution }}
                  </div>
                </td>
                <td class="d-none d-md-table-cell">
                  {{ id.mod_date.created_at }}
                </td>
                <td class="d-none d-md-table-cell">
                  {{ id.mod_date.distribution }}
                </td>
                <td class="d-none d-md-table-cell">
                  <div
                    class="badge align-middle"
                    :class="'bg-' + id.active_attr.class"
                  >
                    {{ id.active_attr.text }}
                  </div>
                </td>
                <td class="d-none d-md-table-cell">
                  <div class="progress progress-xs progress-striped active">
                    <div
                      class="progress-bar"
                      :class="'bg-' + id.div_rate"
                      :style="'width:' + id.rate + '%'"
                    ></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="card-footer">
            <ul class="pagination float-right">
              <li class="page-item" v-if="page >= 4">
                <button class="page-link" @click="toPage(1)">
                  &laquo; First
                </button>
              </li>
              <li class="page-item" v-if="page != 1">
                <button class="page-link" @click="toPage(page - 1)">
                  &lt;
                </button>
              </li>
              <li
                class="page-item"
                v-for="pageNumber in pages.slice(page - 1, page + 2)"
                :key="pageNumber"
              >
                <button class="page-link" @click="toPage(pageNumber)">
                  {{ pageNumber }}
                </button>
              </li>
              <li class="page-item" v-if="page < pagemax">
                <button class="page-link" @click="toPage(page + 1)">
                  &gt;
                </button>
              </li>
              <li class="page-item" v-if="page < pagemax">
                <button class="page-link" @click="toPage(pagemax)">
                  Last &raquo;
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ShowModal v-if="openModal" :catchID="catchID" @toback="openModal = false" />
</template>

<script>
import ShowModal from "./Show.vue";
import _ from "lodash";

export default {
  components: { ShowModal },
  data() {
    let posts = [];
    let param = {
      q: "",
      order_by: "id-desc",
      page_max: 1,
      page: 0,
    };
    //PAGING SETUP
    return {
      isLoading: true,
      pages: [],
      pagemax: 1,
      overlay: false,
      openModal: false,
      page: 1,
      catchID: 8,
      param,
      posts,
    };
  },

  mounted() {
    let param = this.param;
    this.getData(param);
  },

  methods: {
    getData(param) {
      axios
        .post(siteurl + "/api/data", param)
        .then((response) => {
          //assign state posts with response data
          this.pagis = response.data;
          this.pagemax = response.data.max_page;
          this.posts = response.data.data;
          this.isLoading = false;
          this.overlay = false;
          this.setPages();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    toPage(val) {
      const scroolls = this.$refs.submitTop;
      const top = scroolls.offsetTop;
      window.scrollTo(0, top);
      this.overlay = true;
      this.page = val;
      this.param.page = val;
    },
    changeparam() {
      this.param.page += 1;
    },
    resetPage() {
      this.page = 1;
      this.param.page = 0;
      this.pages = [];
      console.log(this.page);
    },
    setPages() {
      for (let index = 1; index <= this.pagemax; index++) {
        this.pages.push(index);
      }
    },
    makeSearch: _.debounce(function (newval) {
      this.resetPage();
      this.param.q = newval;
    }, 500),
    clickSearch(val) {
      this.resetPage();
      this.param.q = val;
    },
    showLink: function (id) {
      this.catchID = id;
      // this.$router.push({ name: "show", params: { id: id } });
      this.openModal = true;
      console.log(this.openModal);
    },
  },

  computed: {},

  watch: {
    page: {
      deep: true,
    },
    param: {
      handler(elem) {
        self = this.posts;
        self = null;
        this.pages = [];
        this.getData(elem);
        return {
          self,
        };
      },
      deep: true,
    },
  },
};
</script>
