<template>
  <!-- CONTENT HEADER -->
  <section class="content-header" v-if="!openEdit">
    <div class="container-fluid">
      <div class="row mb-2" id="topPage">
        <div class="col-sm-6">
          <h1>Details</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active">Project Details</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- SUB HEADER -->
  <div class="container-fluid" v-show="open && !openEdit">
    <div class="row">
      <div class="col-md-8">
        <div class="card card-info" ref="divRef">
          <div class="card-header text-bold">Airdrop Details</div>
          <div class="card-body">
            <h2 :class="'text-' + data.rateStatus" class="text-semibold">
              {{ data.name }} [#{{ data.id }}]
            </h2>
            <ol class="list-group" v-if="open">
              <li class="list-group-item">
                <div class="ms-2 me-auto text-bold">Status</div>
                {{ data.activeText }}
              </li>
              <li class="list-group-item">
                <div class="ms-2 me-auto text-bold">Description</div>
                {{ data.description }}
              </li>
              <li class="list-group-item">
                <div class="ms-2 me-auto text-bold">Created / Updated at</div>
                <i class="far fa-calendar-plus mr-1"></i>
                {{ data.mod_date.updated_at }}
              </li>
              <li class="list-group-item">
                <div class="ms-2 me-auto text-bold">Distribution Date</div>
                <i class="far fa-calendar-alt mr-1"></i>
                {{ data.mod_date.distribution }}
              </li>
              <li class="list-group-item">
                <div class="ms-2 me-auto text-bold">Links</div>
                <div v-for="link in links" :key="link">
                  <i class="fab mr-1" :class="fa_link[link.social]"></i>
                  <a :href="getLink(link.social, link.value)">{{
                    getLink(link.social, link.value)
                  }}</a>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col">
                    <div
                      @click.prevent="toEdit()"
                      class="btn btn-outline-secondary btn-block btn-sm rounded"
                    >
                      <i class="fas fa-edit"></i>
                      Edit
                    </div>
                  </div>
                  <div class="col">
                    <div
                      class="
                        btn btn-outline-danger btn-block btn-sm
                        rounded
                        col
                      "
                      data-toggle="modal"
                      data-target="#deletes"
                    >
                      <i class="fas fa-trash-alt"></i>
                      Delete
                    </div>
                  </div>
                </div>
              </li>
            </ol>
          </div>
          <div class="card-footer">
            <button class="btn btn-info float-right" @click="linkBack()">
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" aria-hidden="true" id="deletes" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Project</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <p>Are you sure to delete this project?</p>
          <p>
            <b>{{ data.name }}</b>
          </p>
          <p class="debug-url"></p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
          </button>
          <a
            class="btn btn-danger btn-ok text-white"
            @click.prevent="deleteClick()"
            data-dismiss="modal"
            >Delete</a
          >
        </div>
      </div>
    </div>
  </div>

  <Edit v-if="openEdit" :getID="getID" @toback="fromEdit()" />
</template>


<script>
import Edit from "./Edit.vue";
import { onMounted } from "vue";

export default {
  name: "Show",
  props: ["catchID"],
  components: { Edit },
  data() {
    let getID = this.catchID;
    getID ? "" : (getID = showID);
    return {
      openEdit: false,
      open: false,
      data: [],
      links: [],
      deleteData: 123,
      txtstatus: {
        1: "Active",
        0: "Inactive",
      },
      fa_link: {
        telegram: "fa-telegram-plane",
        twitter: "fa-twitter",
        medium: "fa-medium-m",
        discord: "fa-discord",
        url: "fas fa-globe",
      },
      getID,
      IDtest: this.$props.getID,
    };
  },
  created() {
    axios
      .post(siteurl + "/api/show/" + this.getID)
      .then((response) => {
        this.data = response.data.data;
        try {
          this.links = JSON.parse(this.data.links);
        } catch {
          this.links = [];
        }
        this.open = true;
      })
      .catch((e) => {
        console.log(e);
      });
  },
  async mounted() {
    // this.scrollFirst();

    console.log(this.$refs);
    this.$refs.divRef.click();
  },
  events: {
    user_id: function (data) {
      this.getID = data;
    },
  },
  methods: {
    scrollFirst: function (el) {
      window.scrollTo(0, 0);
    },
    getLink: function (social, value) {
      let link = value;
      social == "telegram" ? (link = "https://t.me/" + value) : "";
      social == "twitter" ? (link = "https://twitter.com/" + value) : "";
      social == "discord" ? (link = "https://discord.gg/" + value) : "";
      social == "medium" ? (link = "https://" + value + ".medium.com/") : "";
      return link;
    },
    toEdit() {
      this.openEdit = true;
    },
    fromEdit() {
      this.openEdit = false;
      // if (this.open) console.log(this.$refs.divRef);
      let elem = this.$refs.divRef;
      let top = elem.scrollTop;
      window.scrollTo(0, top);
    },
    linkBack: function () {
      if (this.catchID) {
        this.$emit("toback", false);
      } else {
        window.history.back();
      }
    },
    deleteClick() {
      let token = document.head.querySelector(
        'meta[name="csrf-token"]'
      ).content;
      this.deleteData = token;
      axios
        .post(siteurl + "/api/destroy/" + this.getID, { _token: token })
        .then((r) => {
          Swal.fire({
            toast: true,
            showConfirmButton: false,
            position: "top-end",
            timer: 2000,
            icon: "success",
            title: "Data has been deleted successfully!",
          });
          setTimeout(() => {
            window.location.href = siteurl + "/data";
          }, 1000);
        })
        .catch((e) => {
          console.log(e);
        });
      console.log(token);
    },
  },
};
</script>
